@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
$strongCyan: hsl(172, 67%, 45%);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 65.5%;
}
body {
  font-size: 2.4rem;
  background-color: #bada55;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: $strongCyan;
}
